/* bordo tratteggiato profilo aggiungi badge */
body {
  background-color: rgba(248, 249, 250, 1);
}

.cursor-pointer {
  cursor: pointer;
}

.border-box {
  box-sizing: border-box;
}

.border-dashed {
  border-style: dashed !important;
}
